.container {
    text-align: -webkit-center;
}

.particles {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background: #7eabb0;
}

.homediv {
    margin-top: 4%;
}

.table-home {
    margin-top: 3%;
}

.card-text {
    color: green;
}


.card {
    margin-top: 10%;
    max-width: 40%;
}

.expiry {
    margin-top: 4%;
    background: antiquewhite;
    padding: 3%;
    border-radius: 30px;
    max-width: 50%;
}

.order-expired {
    margin-top: 10%;
    padding: 20px;
    max-width: 45%;
    background: #eef094;
    border-radius: 15px;
}

.democards {
    margin-top: 2%;
}

.time-left-text {
    margin-bottom: 4%;
}